<footer id="about" class="footer">
  <div class="footer-layout">
    <p>I'm Juan Manuel Ramallo.</p>
    <p>
      Find me in <a href="https://github.com/juanmanuelramallo">github</a>, <a href="https://twitter.com/jotaeme_r">twitter</a> and <a href="https://www.linkedin.com/in/juanramallo">linkedin</a>,
      or just send me an email to
      <span>j</span><span>u</span><span>a</span><span>n</span><span>m</span><span>a</span><span>n</span><span>u</span><span>e</span><span>l</span><span>r</span><span>a</span><span>m</span><span>a</span><span>l</span><span>l</span><span>o</span><span>@</span><span>h</span><span>e</span><span>y</span><span>.</span><span>c</span><span>o</span><span>m</span>.
    </p>
  </div>
</footer>
