<header role="banner" class="site-header sticky top-0 bg-white/90 backdrop-blur-sm shadow-sm">
  <div class="md:container md:mx-auto flex flex-row justify-between py-4 mx-2">
    <div class="sm:flex sm:flex-row sm:gap-10">
      <a href="/">
        <span class="text-4xl font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-black to-gray-400 hover:from-sky-400 hover:to-amber-400" href="/">
          Write it<br> simple.
        </span>
      </a>
    </div>


    <div class="flex flex-col gap-2 sm:block">
      <div class="flex flex-row my-auto h-full" role="navigation">
        {% for item in site.data.navigation.links %}
          <div class="px-1 sm:px-4 my-auto">
            <a
                href="{{ item.url }}"
                class="py-1 hover:text-primary">
              {{ item.title }}
            </a>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>
</header>
