<section class="posts">
  {% if include.title %}
    <h1>{{ include.title }}</h1>
  {% endif %}
  <ul>
    {% for post in include.posts %}
      <li>
        <span>
          <span class="block">
            <a class="block" href="{{ site.baseurl }}tag/{{ post.tags[0] }}"><span class="post-tag {{ post.tags[0] }}">#{{ post.tags[0] }}</span></a>
            <a class="title block" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </span>
          <small>
            <a class="muted-text" href="{{ site.baseurl }}{{ post.url }}">{{ post.excerpt | strip_html }}</a>
          </small>
        </span>
        <span class="stats">
          <small class="muted-text">
            {% include read_time.html read_time=post.read_time_in_minutes %}
            &middot;
            {% include time.html date=post.date %}
          </small>
        </span>
      </li>
    {% endfor %}
  </ul>
</section>
